<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-label>el mejor evento del mundo</ion-label>
      <ion-button fill="outline" slot="end">si está interesado</ion-button>
      <ion-button fill="outline" slot="end">asistir</ion-button>
      <ion-button fill="outline" slot="end">rechazar</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-label>el mejor evento del mundo</ion-label>
      <ion-button fill="outline" slot="end">si está interesado</ion-button>
      <ion-button fill="outline" slot="end">asistir</ion-button>
      <ion-button fill="outline" slot="end">rechazar</ion-button>
    </ion-item>

    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>

  <ion-button (click)="onLogout()" >Log out</ion-button>
</ion-content>
