<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-item>
  <ion-label>
    Email
  </ion-label>
  <ion-input type="email" [(ngModel)]="user.email"></ion-input>
</ion-item>
  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
    <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item-divider>
    <ion-button size="small" (click)="onRegister()">Register</ion-button>
  </ion-item-divider>
  <ion-item-divider>
    <ion-button size="small" href="/login">Start</ion-button>
  </ion-item-divider>
</ion-content>
